body{font-size: 1.9vw;}

/* 메뉴바 */
.menu{
    width: 80%;
}
#home .bg .txt p{
    text-align: center;
    font: bold 7em/2em 'PPGrafier-BlackDisplay';
}
/* #about 2page */
#about .profile{
    width: 100%;
    margin-top: 80px;
    flex-wrap: wrap;
}
.profile .left{
    width: 50%;
}
.left .profileimg{
    width: 80%;
    margin-left: 8%;
}
.left p{
    margin-top: 10px;
    margin-left: 8%;
    font: 400 1.2rem/2rem 'Noto Sans KR','Roboto', sans-serif;
}

.profile .right{
    width: 50%;
    position: relative;
}

.about p:nth-child(3){
    position: unset;
}
.edu::before,
.work::before,
.skill::before{
    content: '';
    display: block;
    margin-bottom: 30px;
}
.about span,
.edu span,
.work span{
    width: 80px;
    margin-left: 10px;
}
.profile h2{
    font: 900 1.3rem/2rem 'Noto Sans KR','Roboto', sans-serif;
}
.skill{
    width: 160%;
    position: absolute;
    left: -79%;
    margin-top: -20px;
}

.skill .per{
    margin-left: 20px;
}


/* 3번쩨 페이지 */
.slide .main img{
    width: 100%;
}
.slide .main a{
    width: 23%;
    top: 42%;
    left: 65%;
}
.slide .main .sub{
    top: 30%;
    width: 80%;
}

/* 4번쩨 페이지 */
#etc .slides h1{
    padding: 50px 50px;
    box-sizing: border-box;
}
#etc .slides ul{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:85%;
    height: 60%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#etc .slides li{
    width: 48%;
    margin-bottom: 10px;
}
/* 5페이지 */
#foot .copy{
    width: 70%;
}
